@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ligatures-none {
    font-variant-ligatures: none;
  }

  .toc-index {
    counter-reset: h2 h3;
  }

  .toc-index h2 {
    counter-reset: h3;
    counter-increment: h2;
  }

  .toc-index h2::before {
    content: counter(h2) ". " !important;
  }

  .toc-index h3 {
    counter-increment: h3;
  }

  .toc-index h3::before {
    content: counter(h2) "." counter(h3) ". " !important;
  }
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  @apply w-3 h-3;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full border-4 border-transparent border-solid bg-clip-content;
  @apply hover:bg-slate-300;
}
